$height: 42px;

.spaceHolder {
  height: $height;
}

.container {
  width: 100%;
  border: 2px solid;
  border-left: 0;
  border-right: 0;
  position: fixed;
}

.content {
  height: $height;
  width: 1025px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title {
  font-size: 20px;
  display: inline-block;
  border: 1px solid;
  padding: 6px 10px;
  padding-bottom: 0;
}

.links {
  display: inline-block;
}

.link {
  text-decoration: none;
}

.link:first-child::before {
  content: ''
}

.link::before {
  content: '|';
  padding: 0 10px;
}

.circle {
  $size: 17px;
  cursor: pointer;
  width: $size;
  height: $size;
  margin-bottom: -3px;
  margin-left: 10px;
  border: 1px solid;
  border-radius: 20px;
  display: inline-block;
}

.dropdown {
  position: absolute;
  right: 0;
  top: $height;
  width: 320px;
  min-height: 50px;
  border: 2px solid;
}

@media(max-width: 1012px) {
  .content {
    width: 100%;
    padding: 0 8px;
  }
}
