$height: 42px;
$link-spacing: 12px;
$link-spacing-mobile: 10px;

.spaceHolder {
  height: $height;
}

.container {
  width: 100%;
  border: 2px solid;
  border-left: 0;
  border-right: 0;
  position: fixed;
  user-select: none;
  z-index: 10;
}

.content {
  height: $height;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title {
  font-size: 20px;
  display: inline-block;
  border: 1px solid;
  padding: 6px 10px;
  padding-bottom: 0;
}

.links {
  display: inline-flex;
  align-items: center;
}

.link {
  text-decoration: none;
  cursor: pointer;
  padding-right: $link-spacing;
  display: flex;
  align-items: center;
}


.link:last-child {
  padding-right: 0;
}

.link:first-child::before {
  content: ''
}

.link::before {
  content: '|';
  padding-right: $link-spacing;
}

.user {
  filter: grayscale(45%);
  background-size: cover;
}

.circle {
  $size: 17px;
  cursor: pointer;
  width: $size;
  height: $size;
  margin-left: 7px;
  border: 1px solid;
  border-radius: 20px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
}

.label {
  font-size: 12px;
}

@media(max-width: 450px) {
  .title {
    font-size: 17px;
    padding: 5px 8px;
  }
  .link {
    font-size: 13px;
    padding-right: $link-spacing-mobile;
  }

  .link::before {
    padding-right: $link-spacing-mobile;
  }

  .circle {
    margin-left: 5px;
  }
}

.unread {
  border: 1px solid;
  padding: 10px;
  animation: Unread 1.5s linear infinite;
}

.dropdown {
  position: fixed;
  right: 0;
  margin-right: -2px;
  top: $height + 3;
  width: 320px;
  min-height: 50px;
  border: 2px solid;
  z-index: 1;
}

.alertDropdown {
  padding: 5px;
}

@keyframes Unread {
  0% {
    background-color: #ffff00;
    color: #0000ff;
  }
  50% {
    background-color: #ff0000;
    color: #00ffff;
  }
  100% {
    background-color: #ffff00;
    color: #0000ff;
  }
}
