.header {
  margin-bottom: 20px;
}

.header > * {
  display: inline-block;
  margin-right: 10px;
}

.header > a {
  font-size: 12px;
}

.timestamp {
  font-size: 10px;
}

.threadPost {
  margin-bottom: 10px;
}
