.header {
  margin-bottom: 20px;
}

.header > * {
  display: inline-block;
  margin-right: 10px;
}

.header > a {
  font-size: 12px;
}

.info {
  font-size: 10px;
  margin-top: 1px;
}

.threadPost {
  margin-bottom: 10px;
}

.container {
  display: flex;
  justify-content: space-between;
}

.left {
  max-width: 700px;
  width: 100%;
}
.right {
  border: 1px solid;
  width: 295px;
  padding: 10px;
  // display: flex;
  // justify-content: center;
  // align-items: center;
}
