.profile {
  border: 1px solid;
  padding: 10px;
}

.intro {
  margin-bottom: 5px;
}

.memberSince {
  margin-bottom: 15px;
}

.content {
  display: flex;
}

.left {
  display: inline-block;
}

.right {
  display: inline-block;
  margin-left: 20px;
}

.avatar {
  border: 1px solid;
  border-radius: 3px;
  height: 150px;
  width: 150px;
  margin-bottom: 5px;
  background-size: cover;
  filter: grayscale(45%) contrast(125%);
  display: block;
}

.postContainer {
  margin-bottom: 10px;
  border: 1px solid;
}

.recentPosts {
  max-width: 600px;
  h3 {
    margin-bottom: 10px
  }
}
