.buffer {
  margin-top: 30px;
}

.container {
  display: flex;
  justify-content: space-between;
}

.left {
  max-width: 700px;
  width: 100%;
}

.right {
  border: 1px solid;
  height: 70vh;
  width: 295px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
